*{
     margin:0;
     padding: 0;
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}
 html,body{
     width: 100%;
     height: 100%;
     font-family: 'Open Sans', sans-serif;
}
 section,header{
     width: 100%;
     float: left;
}
 section{
     padding: 20px 0;
}
 ul{
     margin:0;
     padding: 0;
     list-style: none;
}
 a,a:hover,a:focus{
     text-decoration: none;
}
 h1,h2,h3,h4,h5,h6,p{
     margin:0;
     padding: 0;
}
h5{
     font-size: 14px;
     font-weight: 400;
}

 p{
     font-size: 14px;
     font-weight: 400;
}

 .pad_lt{
     padding-left: 0px;
}
 .pad_rt{
     padding-right: 0px;
}

.page_wrapper{
    margin-top: 100px;
    margin-left: 400px;
    padding-top: 100px;
    padding-left: 50px;
    width: 500px;
    height:300px;
    border:1px solid black;
    background:#a6a6a6;
}

.logout{
    padding-left: 125px;
    color: #fff;
}

.learning_right_col h5{
     padding-left: 25px;
    margin-top: 15px;
}
.wrpp {
    width: 100%;
    float: left;
}
.labelStyle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.submitButton {
  margin-left: 10px;
}
.inputFeild {
  margin-left: 10px;
}

